@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="calculator">
        <img src="imgs/icon-no-bg.png" alt="Calculadora de IMC">
        <Calculator />
    </Slide>
    <Slide Id="history">
        <History />
    </Slide>
    <Slide Id="about">
        <h1>Sobre</h1>
        <p>
            Nosso sistema de IMC foi desenvolvido com foco em praticidade e saúde. Através de um histórico
            personalizado, você pode acompanhar sua evolução, entender melhor seu corpo e tomar decisões mais
            conscientes.
        </p>
        <p>
            Este projeto foi construído com ❤️ utilizando tecnologias modernas como .NET Blazor, HTML, CSS e JavaScript.
            <br>
            Dúvidas, sugestões ou colaborações? Fique à vontade para entrar em contato!
        </p>
        <div class="about-links">
            <a href="https://www.linkedin.com/in/pablo-cardoso1" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#45FEFE" viewBox="0 0 24 24">
                    <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.762 2.239 5 5 5h14c2.761 
                0 5-2.238 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.268c-.966 
                0-1.75-.783-1.75-1.75s.784-1.75 
                1.75-1.75 1.75.783 1.75 1.75-.784 
                1.75-1.75 1.75zm13.5 11.268h-3v-5.604c0-1.337-.026-3.061-1.865-3.061-1.867 
                0-2.153 1.459-2.153 2.968v5.697h-3v-10h2.881v1.367h.041c.401-.761 
                1.379-1.561 2.837-1.561 3.033 0 3.593 
                1.996 3.593 4.59v5.604z" />
                </svg>
                LinkedIn
            </a>
            <a href="https://github.com/pablo-cardoso1" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#45FEFE" viewBox="0 0 24 24">
                    <path d="M12 .5C5.648.5.5 5.648.5 
                12c0 5.086 3.292 9.39 7.86 10.918.574.105.785-.249.785-.554 
                0-.273-.01-.998-.015-1.958-3.197.695-3.872-1.54-3.872-1.54-.522-1.327-1.276-1.68-1.276-1.68-1.044-.714.079-.699.079-.699 
                1.154.081 1.76 1.184 1.76 1.184 1.026 1.758 2.69 1.25 
                3.344.956.103-.743.402-1.25.732-1.538-2.552-.291-5.236-1.276-5.236-5.68 
                0-1.255.451-2.282 1.19-3.085-.12-.292-.516-1.467.113-3.06 
                0 0 .97-.311 3.175 1.18a11.06 11.06 0 0 1 2.89-.388c.98.005 
                1.97.132 2.89.388 2.203-1.491 3.172-1.18 3.172-1.18.63 
                1.593.235 2.768.115 3.06.74.803 1.188 1.83 1.188 
                3.085 0 4.415-2.688 5.385-5.25 5.671.41.353.777 1.047.777 
                2.111 0 1.526-.014 2.758-.014 3.132 0 .308.207.666.79.553C20.71 
                21.387 24 17.086 24 12c0-6.352-5.148-11.5-12-11.5z" />
                </svg>
                GitHub
            </a>
        </div>
    </Slide>



</div>
